body{
	background-color: #ffffff;
}
.login_div{
	box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #1f262d;
	width: 80%;
	height: auto;
	margin-top: 4%;
	border-radius: 5px;
}
#header_para{
	padding-top: 10%;
	font-size: 150%;
	color: white;
	margin-bottom: 0;
}
#card{
	font-family:'Raleway', sans-serif;
	opacity: .7;
	font-size: 200%;
}
#hr1{
	border-radius: 4px;
	width: 1.5%;
	height: 4px;
	background-color:white;
	border: none;
	display: inline-block;
	margin-left: 6%; 
}
#hr2{
	border-radius: 4px;
	width: 5.5%;
	height: 4px;
	background-color:white;
	border: none;
	display: inline-block; 
}
.input_style:focus{width:80% !important}
.input_style{
	-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out;
	width: 50%;
	height: 40px;
	background-color: black;
	outline: none;
	border: none;
	border-radius: 10.1px;
	padding-left: 10px;
	color: #4cddc0;
}
#login_button{
	box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 200px;
	height: 40px;
	border-radius: 10px;
	border: none;
	margin-bottom: 10%;
	outline: none;
	background-color: white;
	transition: 400ms ease-in-out; 
}
#login_button:hover{
	background-color: #1a495b;
	color: white;
}
#forgot a{
	font-size: 120%;
	color: white;
} 
