 		*{

 			margin:0;

 			padding:0;

      overflow-x: hidden;

 		}

 		#menuTab{

 			background-color: black;

 			width: 100%;

 			height: 50px;

 			color: white;

 			font-family: 'Sigmar One', cursive;

 			text-align: center;

 			letter-spacing: 15px;



 		}

 /* The side navigation menu */

.sidenav {

  height: 100%; /* 100% Full-height */

  width: 0; /* 0 width - change this with JavaScript */

  position: fixed; /* Stay in place */

  z-index: 1; /* Stay on top */

  top: 0; /* Stay at the top */

  left: 0;

  background-color: #111; /* Black*/

  overflow-x: hidden; /* Disable horizontal scroll */

  padding-top: 60px; /* Place content 60px from the top */

  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}



/* The navigation menu links */

.sidenav a {

  padding: 8px 8px 8px 32px;

  text-decoration: none;

  font-size: 25px;

  color: #818181;

  display: block;

  transition: 0.3s;

}



/* When you mouse over the navigation links, change their color */

.sidenav a:hover {

  color:black;

  background-color: white;

}



/* Position and style the close button (top right corner) */

.sidenav .closebtn {

  position: absolute;

  top: 0;

  right: 25px;

  font-size: 36px;

  margin-left: 50px;

}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {

  transition: margin-left .5s;

  }

#hamMenuIcon{

	color: white;

	font-size: 30px;

	left: 10px;

  padding: 10px;

  position: fixed;

}

#mainScreen {

  /* Add shadows to create the "card" effect */

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  transition: 0.3s;

  width :700px;

  height: 600px;

  overflow-y: hidden;

  margin-top: 80px;

  float: left;

  position: absolute;

}



/* On mouse-over, add a deeper shadow */

#mainScreen:hover {

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}



/* Add some padding inside the card container */

#mainScreen {

  padding: 2px 16px;
  overflow:hidden;

}

#primaryScreen{

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  transition: 0.3s;

  width :30%;

  height: 300px;

  margin-top: 80px;

  right: 0;

  float: left; 

  position: fixed;

}

#primaryScreen:hover {

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

#videoElement{

  height: 40%;

}

#card-contain{



  width:300px;

}

#myCanvas {

    cursor: crosshair;

    position: fixed;

    width: 400px;

    height: 400px;

}

#message{

    width: 200px;

    height: 40px;

    padding-right: 50px;

    position: absolute;

    bottom: 0;

    

}



#submit{

    margin-left: -50px;

    height: 40px;

    width: 50px;

    position: absolute;

    bottom: 0;

    right: 0;

}

#colorpallete{
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
#canvasWhite{
  width: 600px;
  height: 400px;
}
#editor{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    font-size:45px;
}

